h2{

    font-family: "Dangrek",serif;
    background: linear-gradient(45deg, #ff0000,#1a53ff,#ea01ff,#fcfc00);
    background-clip: text;
    color: transparent;
    background-size: 400% 400%;
    animation: gradient 2s ease infinite;
}
@keyframes gradient{
    0%{
        background-position: 0%;
    }
    50%{
        background-position: 100%;
    }
    100%{
        background-position: 0%;
    }

}
#ab{
  border-color: green-400;
    box-shadow:0 5px 15px 0 rgb(63, 72, 113), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#img{
    width: 90px;
}
#imgs{
    width: 130px;
}
#space{
    justify-content: space-between;
}